@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    width: 100%;
    font: 15px/1.6 '굴림';
    background: #fff;
    color: #333;
}

ul{
    list-style: none;
}

a{
    color: #333;
    text-decoration: none;
}

img{
    vertical-align: top;
}

header{
    width: 1340px;
    height: 100px;
    background: darkslategray;
    display: flex;
    margin: 0 auto;
    position: relative;
    text-align: center;
    align-items: center;
}

.main{
    display: flex;
}

.gnb{
    position: absolute;
    right: 30px;
    top: 60px;
    z-index: 1;
}

.main>li>a{
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    background: darkgray;
    width: 150px;
    padding: 4px;
}

.main>li::before{
    content: "";
    z-index: -1;
    background: rgba(177, 195, 177, 0.5);
    position: fixed;
    width: 100%;
    top: 100px;
    left: 0;
    height: 0px;
    transition: .5s;
}

.sub{
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.main:hover .sub{
   height: 150px;
}

.main:hover ::before{   
    height: 170px;
}

.sub a{
    display: inline-block;
    margin-top: 10px;
}

.sub li:hover{
    background: #fff;
}

.slide{
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.slide ul{
    position: relative;
    height: 400%;
    width: 100%;
    animation: slide 8s infinite;
}

.slide li{
    height: 25%;
}

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%{top: 0;}
    10%{top: -100%;}
    33%{top: -100%;}
    43%{top: -200%;}
    66%{top: -200%;}
    76%{top: -300%;}
    99.99%{top: -300%;}
    0%{top: 0%;}
}

.contents{
    width: 1340px;
    height: 480px;
    margin: 0 auto;
    position: relative;
}

.link{
    position: absolute;
    background: lightpink;
    height: 120px;
    top: -120px;
    width: 1340px;
    text-align: center;
    padding: 0 100px;
}

.link_in{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-top: 30px;
}

.link span{
    padding-left: 20px;
    line-height: 4;
}

.banner{
    height: 150px;
    background: darkolivegreen;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.bw{
    display: flex;
}

.write{
    padding-left: 30px;
    padding-top: 20px;
}

.right{
    padding-right: 40px;
}

.tabs{
    height: 330px;
    background: darkgoldenrod;
    display: flex;
    padding: 40px;
}


.notice{
    width: 50%;
    font-size: 18px;
}

.notice h2{
    background: #fff;
    display: inline-block;
    padding: 8px;
}

.notice a{
    display: inline-block;
    width: 420px;
    font-size: 18px;
    line-height: 3;
}

.notice a:hover{
    text-decoration: underline;
}

.gal{
    width: 50%;
}

.gal span{
    display: block;
    margin-top: 10px;
}

.gal_in{
    display: flex;
    justify-content:space-between;
    text-align: center;
}

.gal img{
    margin-top: 30px;
}

.gal img:hover{
    opacity: 0.5;
}


footer{
    background: darkgrey;
    display: flex;
    margin: 0 auto;
    height: 100px;
    width: 1340px;
    text-align: center;
    align-items: center;
}

.blogo{
    width: 200px;
}

.fs{
    width: 200px;
}