@charset "utf-8";
@import url("reset.css");
@import url("common.css");

/* section3 area */
#section3{
    background: url(../assets/main/10029.jpg);
}

.fav_txt{
    position: absolute;
    left: 0;
    top: 52px;
    background: lightblue;
}

.fav_img{
    position: absolute;
    left: 655px;
    top: 0;
    background: lightpink;
}

.fav_img div:first-child{
    position: absolute;
    left: 0px;
    top: 54px;
    width: 270px;
    height: 365px;
    transform: rotate(-17deg);
}

.fav_img div:nth-child(2){
    position: absolute;
    left: 288px;
    top: 0;
    width: 260px;
    height:364px;
}

.fav_img div:last-child{
    position: absolute;
    left: 453px;
    top: 33px;
    width: 335px;
    height: 459px;
    transform: rotate(18deg);
}