@charset "utf-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
}

body{
    width: 100%;
    background: #fff;
    color: #333;
    font: 15px/1.6 '굴림';
}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
}

img{
    vertical-align: top;
}

.wrap{
    display: flex;
}

header{
    background: darkgray;
    width: 200px;
    height: 850px;
}

.gnb{
    padding: 50px 20px;
}

.main>li>a{
    display: block;
    font-weight: bold;
    font-size: 20px;
    background: darkseagreen;
    color: #fff;
    padding: 8px;
}

.main>li>a:hover{
    background: darkgreen;
}

.sub{
    background: darkolivegreen;
    height: 0;
    overflow: hidden;
    transition: .5s;
}

.sub a{
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    padding-left: 10px;
}

.sub li:hover{
    background: darkgray;
}

.main>li:hover .sub{
    height: 150px;
}

.spotmenu{
    text-align: center;
    font-size: 18px;
}

.spotmenu a:hover{
    text-decoration: underline;
}

.contents{
    width: calc(100% - 200px);
}

.slide{
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slide ul{
    position: relative;
    height: 400%;
    width: 100%;
    animation: slide 8s infinite;
}

.slide li{
    height: 25%;
}

.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@keyframes slide {
    0%{top: 0%;}
    10%{top: -100%;}
    33%{top: -100%;}
    43%{top: -200%;}
    66%{top: -200%;}
    76%{top: -300%;}
    99.99%{top: -300%;}
    100%{top: 0%;}
}

.link{
    position: absolute;
    background: darkturquoise;
    top: 0;
    right: 0;
    width: 150px;
    height: 300px;
    text-align: center;
}

.link span{
    display: block;
    margin-top: 10px;
}

.banner{
    padding: 20px;
    display: flex;
    height: 200px;
    width: 100%;
    background: darkkhaki;
    align-items: center;justify-content: space-between;
}

.bw{
    display: flex;
    align-items: center;
    
}

.write{
    margin-left: 40px;
}

.right{
    padding-right: 200px;
}

.tabs{
    width: 100%;
    height: 250px;
    background: darkorange;
    position: relative;
}

input{
    display: none;
}

.tabs label{
    font-size: 20px;
    font-weight: bold;
    background: darkgrey;
    padding: 4px;
    cursor: pointer;
}

input:checked+label{
    background: #000;
    color: #fff;
}

.tab-con{
    position: absolute;
    display: none;
    border-top: 1px solid #000;
}

input:checked+label+.tab-con{
    display: block;
}

.tab1{
    padding: 20px;
    font-size: 20px;
    width: 100%;
}


.tab1 a{
   display: flex;
   justify-content: space-between;
   line-height: 2.4;
}

.tab1 h3{
    font-size: 20px;
    font-weight: normal;
}

.tab1 a:hover{
    text-decoration: underline;
}

.tab2 a{
    display: inline-block;
    padding: 0 170px;
}

footer{
    display: flex;
    background: rgb(117, 106, 106);
    height: 120px;
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.copy{
    width: calc(100% - 500px);
}

.sns{
    width: 300px;
}
