 @charset "utf-8";

 * {
     margin: 0 auto;
     padding: 0;
     box-sizing: border-box;
 }

 a {
     color: #333;
     text-decoration: none;
 }

 ul {
     list-style: none;
 }

 img {
     vertical-align: top;
 }

 body {
     background: #fff;
     color: #333;
     font: 15px/1.6 '돋움';
 }

 .container {
     width: 1000px;
     display: flex;
 }

 header {
     width: 200px;
     height: 650px;
     background: #d4d4d4;
 }

 .gnb {
     width: 160px;
     margin: 30px auto;
     text-align: center;
     margin-top: 30px;
 }

 /* 1depth: 메인메뉴 */
 .gnb .main>li>a {
     display: block;
     width: 160px;
     height: 60px;
     line-height: 60px;
     font-size: 18px;
     font-weight: bold;
     background: rgb(183, 215, 234);
 }

 .gnb .main>li>a:hover {
     background: #1A4975;
     color: #fff;
 }

 .gnb .main>li:hover .sub {
     height: 150px;
 }

 /* 2depth: 서브메뉴 */
 .gnb .sub {
     height: 0;
     overflow: hidden;
     transition: .3s;
     background: rgba(107, 160, 234, 0.5);
 }

 .gnb .sub::before {
     display: block;
     content: '';
     padding-top: 10px;
 }

 .gnb .sub>li>a {
     display: block;
     font-size: 14px;
 }

 .gnb .sub>li>a:hover {
     background: #474ead;
     color: #fff;
 }

 .wrap {
     width: 800px;
 }

 .slide{
    overflow: hidden;
    height: 350px;
 }

 .slide ul{
    position: relative;
    height: 400%;
    animation: slide 8s infinite;
 }

 @keyframes slide {
    0%{top:0%}
    10%{top:-100%}
    33%{top:-100%}
    43%{top:-200%}
    66%{top:-200%}
    76%{top:-300%}
    99.99%{top:-300%}
    0%{top:0%}
 }

 .contents {
     display: flex;
     height: 200px;
 }

 .tabs {
     width: 400px;
     height: 200px;
     background: rgb(219, 219, 219);
     position: relative;
 }

 .tabs input {
     display: none;
 }

 .tabs label {
     display: inline-block;
     background: darkslategray;
     color: lightgray;
     cursor: pointer;
     font-size: 17px;
     padding: 2px 8px;
 }

 .tabs input:checked+label {
     background: #000;
     color: #fff;
 }

 .tab1 {
     font-size: 14px;
 }

 .tab1 a {
     display: inline-block;
     width: 270px;
     line-height: 30px;
 }

 .tab1 a:hover{
    text-decoration: underline;
 }

 .tab2 img:hover{
    opacity: 0.5;
 }

 .tabs input:checked+label+.tab-con {
     display: block;
 }

 .tab-con {
     position: absolute;
     display: none;
     padding: 16px;
     border-top: 1px solid #000;
 }

 .banner {
     width: 200px;
 }

 .link {
     width: 200px;
 }

 .link img {
     width: 200px;
     height: 200px;
 }

 footer {
     display: flex;
     height: 100px;
     background: lightslategray;
     align-items: center;
     text-align: center;
 }

 footer p{
    font-size: 12px;
 }

 .fme{
    color: #ffffff;
 }
 .fme a{
    display: inline-block;
    font-size: 12px;
    margin-bottom: 10px;
    color: #fff;
 }


 .fme {
     width: 600px;
 }