@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');


/* reset */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul,
p {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    vertical-align: middle;
}

/* color system */
:root {
    --main-color: #fff
}

body {
    font: 15px/1.6 "Noto Sans KR", sans-serif;
}

/* typography */

#section4 {
    color: var(--main-color);
}

#section4 .write p {
    font-size: 20px;
}

#section4 .write a {
    color: var(--main-color);
    display: inline-block;
    margin-top: 20px;
}


