@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
}

body {
    background: #ffffff;
    color: #222328;
    margin: 0;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
    background: #000;
}

.header {
    height: 200px;
    background: #ffffff;
}


.logo {
    height: 100px;
    text-align: center;
     margin-top: 30px; 
}

.gnb {
    height: 100px;
    background: #ffffff;
    
}


ul{
    padding: 0;
    list-style: none;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center; /* 👉 수직 중앙 정렬 */
    font-size: 25px;
    text-align: center;
    gap: 40px;
    height: 100px; /* 헤더 높이랑 맞추기 */
    padding: 0; /* 혹시 불필요한 padding 제거 */
    
}

.main li a {
    text-decoration: none; /* 밑줄 제거\ */
    color: #000000;
    font-weight: bold;
}

.slide {
    height: 400px;
    background: #cf5353;
}

.contents {
    display: flex;
    height: 300px;
}

.notice {
    width: 300px;
    background: #ffffff;
    text-align: center;
    border: 4px solid rgb(192, 192, 192);
    padding: 16px 0 0 16px;
    line-height: 1.8;
    font-family: 'Ownglyph_ParkDaHyun';
    font-size: 20px;
}

.notice h2{
    margin-bottom: 8px;

}
.notice h3{
    margin-bottom: 8px;

}

.notice span{
    display: inline-block;
    width: 200px;
}

.banner {
    width: 900px;
    background: #ffffff;
    display: flex;
}

.pic1,
.pic2,
.pic3 {
    width: 300px;
    text-align: center;
    border: 4px solid rgb(192, 192, 192);
   

}

.name{
    font-size: 25px;
    font-family: 'Ownglyph_ParkDaHyun';
}

.price{
    font-size: 20px;
    font-family: 'Ownglyph_ParkDaHyun';
    color: red;
    margin-top: 10px;
}

.footer {
    display: flex;
    height: 200px;
    background: #ffffff;
}

.blogo {
    width: 400px;
    background: #ffffff;
    text-align: center;
    margin-top: 30px;
    
}

.tell {
    width: 400px;
    text-align: center; 
    margin-top: 30px;
    margin-left: 200px;
    
}

.call {
    font-size: 30px;
    color: #f90000;
}

.clock {
    font-style: 10px;
    
}

.sns {
    width: 400px;
    line-height: 100px;
    /* line-height는 1줄일때만 가능하다 */
    text-align: center;
    margin-top: 30px;
    margin-left: 200px;
    font-size: 30px;
}

.sns li {
    display: inline-block;
    margin-left: 8px;
}
